/*BEGIN ->  .e-header*/
.e-header {
  background-color: #574943;
  background-image: url("../assets/img/bg.jpg");
  background-position: top left;

  &__social {
    th {
      text-align: right;
    }
    img {
      display: inline;
    }
  }

  &__title {
    font: 24px/34px $font;
    font-weight: bold;

    color: $title_color;
    text-transform: uppercase;
    text-align: center;
  }
}
/*END -> .e-header*/

/*BEGIN .e-teaser */
.e-teaser {
  margin-top: -34px;

  &__inner {
    background-color: #f1f1f2;
    border-bottom: 5px solid $border_color;
  }

  &__blocks > tbody > tr {
    text-align: center;
  }

  &__item {
    padding-top: 24px;

    text-align: center;

    div {
      width: 120px;
      margin: 0 auto;
    }

    img {
      display: inline-block;
    }
  }

  &__btn a:last-child {
    display: none;
  }

  @include media(560px) {
    &__btn a {
      display: none;
    }

    &__btn a:last-child {
      display: inline-block;
    }
  }

  @include media(430px) {
    &__item {
      display: inline-block;
    }
  }
}
/*END .e-teaser */

/*BEGIN .e-products */
.e-products {
  &__item {
    padding: 20px 20px 14px;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__price {
    font-size: 16px;
    font-weight: 600;

    color: #040506;
    text-align: center;
  }

  @include media(470px) {
    &__item {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
/*END .e-products */

/*BEGIN . ->  .e-footer*/
.e-footer {
  background-color: #ececec;

  &__inner {
    font-size: 12px;

    color: #a1a1a1;
    text-align: center;
  }
}
/*END . -> .e-footer*/
