/*BEGIN ->  .e-header*/
.e-header {
  background-color: #574943;
  background-image: url("../assets/img/bg.jpg");
  background-position: top left;

  &__social {
    th {
      text-align: right;
    }
    img {
      display: inline;
    }
  }

  &__title {
    font: 24px/34px $font;
    font-weight: bold;

    color: $title_color;
    text-transform: uppercase;
    text-align: center;
  }
}
/*END -> .e-header*/

/*BEGIN .e-teaser */
.e-teaser {
  margin-top: -34px;

  &__inner {
    background-color: #f1f1f2;
    border-bottom: 5px solid $border_color;
  }

  &__item {
    max-width: 120px;
    width: 120px;
    margin: 0 auto;

    text-align: center;

    img {
      display: inline-block;
    }
  }
}
/*END .e-teaser */

/*BEGIN .e-products */
.e-products {
  &__item {
    padding: 20px 10px 14px;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__price {
    font-size: 16px;
    font-weight: 600;

    color: #040506;
    text-align: center;
  }
}
/*END .e-products */

/*BEGIN . ->  .e-footer*/
.e-footer {
  background-color: #ececec;

  &__inner {
    text-align: center;
  }
}
/*END . -> .e-footer*/
