.body,
body,
html {
  background-color: #fff !important;
}

table.container {
  background-color: transparent;
}

body,
table.body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
td,
th {
  font: 14px/1.3 $font;
  font-weight: normal;

  color: $color_text;
  text-align: left;
}

a:visited,
a:hover {
  color: initial;
}
