.body,
body,
html {
  background-color: #fff !important;
}

table.container {
  background-color: transparent;
}

body,
table.body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
td,
th {
  font: 14px/1.3 $font;
  font-weight: normal;

  color: $text_color;
  text-align: left;
}

a:visited,
a:hover {
  color: initial;
}

.e-btn {
  text-align: center;

  a {
    display: inline-block;
    padding: 12px 45px;

    color: $title_color;
    background-color: $btn_color;
    border-radius: 5px;
  }

  &--outlined a {
    padding: 10px 35px;

    letter-spacing: 4px;
    line-height: 24px;

    color: #7a695a;
    background-color: transparent;
    border: 1px solid #7a695a;
    text-transform: uppercase;
  }
}
